# Environment Configuration
FLASK_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=byteristo_db
DB_USER=byteristo_user
DB_PASSWORD=byteristo_password


MANAGER_USER=manager@ristosmart.install
MANAGER_PASSWORD=changemeplease!

# JWT Configuration
JWT_SECRET_KEY=your-super-secret-jwt-key-change-in-production
SECRET_KEY=your-super-secret-key-change-in-production

# Server Configuration
PORT=3000
